body {
  position: relative;
}
.centerChildren {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContainerVisible {
  width: 50%;
  height: 35vh;
  position: absolute;
  top:50%;
  left:50%;
  margin: -17.5vh 0 0 -25%;
}

.mainContainerHidden {
  display: none;
}

#menuContainer {

}
#playersOnline {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#gameContainer {

}

#nameLabel {
  display: block;
}

#name {
  display: block;
}
#playersInfoContainer {
  border: 2px solid black;
  padding: 3vw 3vh 3vw 3vh;
}
.playerInfo {
  border: 2px solid black;
}

.chosenChoice {
  border: 2px solid black;
  color: black;
}